* text=auto
*.sh        text eol=lf
*.c         text eol=lf
*.h         text eol=lf
Dockerfile* text eol=lf
*.config    text eol=lf
*.md        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.txt       text eol=lf
*.squashfs filter=lfs diff=lfs merge=lfs -text
vmlinuz-virt filter=lfs diff=lfs merge=lfs -text
